In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
pd.set_option('display.max_columns', None)

In [ ]:
df=pd.read_csv('data.csv')
df.head(3)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.0,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA

In [11]:
print(df.columns)
new_df = df[['sqft_living', 'sqft_lot', 'sqft_basement', 'sqft_above']]
new_df

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

      sqft_living  sqft_lot  sqft_basement  sqft_above
0            1340      7912              0        1340
1            3650      9050            280        3370
2            1930     11947              0        1930
3            2000      8030           1000        1000
4            1940     10500            800        1140
...           ...       ...            ...         ...
4595         1510      6360              0        1510
4596         1460      7573              0        1460
4597         3010      7014              0        3010
4598         2090      6630           1020        1070
4599         1490      8102              0        1490

[4600 rows x 4 columns]