In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv('data.csv')
# test_df=pd.read_csv('test.csv')
# test_df
df.head(3)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.0,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA

In [ ]:
print(df.columns)
new_df = df[['sqft_living', 'sqft_lot', 'sqft_basement', 'sqft_above']]
new_df

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

KeyError: "None of [Index([1340, 3650, 1930, 2000, 1940,  880, 1350, 2710, 2430, 1520,\n       ...\n       2620, 1880, 2530, 2538, 1610, 1510, 1460, 3010, 2090, 1490],\n      dtype='int64', length=4600)] are in the [columns]"

     SaleCondition FireplaceQu MiscFeature  Fence PoolQC
0           Normal         NaN         NaN    NaN    NaN
1           Normal          TA         NaN    NaN    NaN
2           Normal          TA         NaN    NaN    NaN
3          Abnorml          Gd         NaN    NaN    NaN
4           Normal          TA         NaN    NaN    NaN
...            ...         ...         ...    ...    ...
1455        Normal          TA         NaN    NaN    NaN
1456        Normal          TA         NaN  MnPrv    NaN
1457        Normal          Gd        Shed  GdPrv    NaN
1458        Normal         NaN         NaN    NaN    NaN
1459        Normal         NaN         NaN    NaN    NaN

[1460 rows x 5 columns]